<p>Introduce tu dirección de correo electrónico y le enviaremos las instrucciones para establecer una nueva contraseña.</p>
<%= form_tag  do %>
	<label for="email">E-mail</label>
	<%= text_field_tag "email" %><br/>
	<%= submit_tag "Enviar" %>
<% end %>