<p>Tienda online de productos ibéricos localizada en el centro de Cádiz</p>
<h1>Contacto</h1>
<h2>Correo electrónico</h2>
<a href= "mailto:canyadelomo.ine@gmail.com">canyadelomo.ine@gmail.com</a>
<h2>Teléfono</h2>
+34 956 12 34 56
<h2>Dirección</h2>
<address>
Edificio Caña de Lomo<br/>
Calle Caña de Lomo, s/n<br/>
Cádiz, España<br/>
</address>