<tr>
	<td><%= link_to brand.name, :action => 'show', :id => brand %></td>
	<td><%= link_to 'Editar', :action => 'edit', :id => brand %></td>
	<td>
		<%= button_to 'Borrar', { :action => 'destroy', :id => brand },
			:data => { :confirm => "¿Eliminar marca #{brand.name}?" } %>
	</td>
</tr>